In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
# Call the function.

In [5]:
say_something("Hello World!")

Hello World!

In [6]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

### Writing Functions for the School District Data

In [8]:
# Define a function that calculates the percentage of students that passed both # math and reading 
# and prints the passing percentage to the output when the
# function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [9]:
# return causes the funtion to end and literally "returns" what is in front of the statement back to the caller.

# assign variables
passing_math_count = 29370
total_student_count = 39170

In [10]:
# Call the function as previously defined
passing_math_percent(passing_math_count,
                     total_student_count)

74.9808526933878

### The Pandas map() Function
The `map()` function is used for substituting each value in a Series with another value.

In [11]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [12]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

### The Python format() Function
The Python format() function is used to format a value to a specific format, such as one or two decimal places, or adding a thousands separator

`"{value:format specification}".format(value)`

In [15]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

### Chaining the map() and format() Functions

apply the format() function to a Series or column in a DataFrame by chaining the map() and format() functions.

In [16]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [17]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

`df["column"] = df["column"].map("{:,}".format)`

In [18]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined